In [91]:
import pandas as pd
import numpy as np

In [103]:
#generate random data 
data = np.random.randint(10, size=(4, 2))
labels = ['A', 'B', 'C','D']
df = pd.DataFrame(data, columns=['X', 'Y'], index=labels)

#convert to a dictionary 
data_dict = {}
for idx, col in df.iterrows(): 
    data_dict[idx] = col.values
    
#data_dict

{'A': array([7, 2]),
 'B': array([3, 5]),
 'C': array([1, 8]),
 'D': array([2, 0])}

In [102]:
#calculate the manhattan distance of our data values + put it into a n x n distance matrix 
def manhattan_dist(x, y):
    return sum(abs(a-b) for a,b in zip(x,y))

#put distances and labels into a dictionary 
D = {}
for label, val in data_dict.items():
    D[label] = {}
    for label2, val2 in data_dict.items():
        D[label][label2] = manhattan_dist(val, val2) 

#convert to a n x n distance matrix         
df = pd.DataFrame.from_dict(D)
df

   A   B   C   D
A  0   8   6   6
B  8   0  14   4
C  6  14   0  10
D  6   4  10   0